<template>
  <v-layout column justify-center align-center>
    <v-col cols="12" xs="12" sm="8">
      <v-card v-if="quiz">
        <v-card-title class="headline">Quiz: {{ quiz.name }}</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <div
            class="quiz-info subheadline"
          >From {{ quiz.start_at | displayTime }} To {{ quiz.end_at | displayTime }}</div>
          <div class="quiz-info subheadline">{{ quiz.questions_count }} questions</div>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn
            color="blue darken-1"
            v-if="quiz.isCompleted"
            text
            :to="`/quiz/${quiz.id}/answers`"
            nuxt
          >Quiz Result</v-btn>
          <v-btn
            color="blue darken-1"
            v-if="!quiz.isCompleted && !quiz.isCreator && quiz.startAnswerPhase"
            text
            :to="`/quiz/${quiz.id}/take`"
            nuxt
          >Take the Quiz</v-btn>
          <v-btn color="red" text to="/" nuxt>Back</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-layout>
</template>

<script>
import dayjs from 'dayjs'

export default {
  data() {
    return {
      course: this.$auth.user.course,
      quiz: undefined
    }
  },
  filters: {
    displayTime(time) {
      return dayjs(time).format('YYYY-M-D H:mm:ss')
    }
  },
  methods: {},
  async mounted() {
    this.quiz = await this.$axios.$get(`/api/quizzes/${this.$route.params.id}`)
    if (this.quiz.isCreator) {
      this.$router.replace({ path: `/quiz/${this.quiz.id}/questions` })
    }
  }
}
</script>
