<template>
  <v-layout column justify-center align-center v-if="question">
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">Edit Question</v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="12">
                  <p class="title">Quiz: {{ quiz.name }}</p>
                </v-col>

                <v-col cols="12" sm="3">
                  <v-select
                    @change="updateCorrectAnswer"
                    v-model="payload.type"
                    :items="defaultQuestionTypes"
                    label="Type"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="9">
                  <v-text-field v-model="payload.title" label="Title"></v-text-field>
                </v-col>
                <v-col cols="12">
                  <FillTheBlanks v-if="payload.type === 0" v-model="payload"></FillTheBlanks>
                  <BestDescribe v-else-if="payload.type === 1" v-model="payload"></BestDescribe>
                  <Prioritise v-else-if="payload.type === 2" v-model="payload"></Prioritise>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn text @click="addOption">Add more option</v-btn>

          <div class="flex-grow-1"></div>
          <v-btn color="error" text @click="close">Cancel</v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="editQuestion"
            v-if="!quiz.startAnswerPhase"
          >Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Prioritise from '@/components/questions/edit/Prioritise'
import BestDescribe from '@/components/questions/edit/BestDescribe'
import FillTheBlanks from '@/components/questions/edit/FillTheBlanks'

export default {
  components: {
    Prioritise,
    BestDescribe,
    FillTheBlanks
  },
  data() {
    return {
      quiz: '',
      course: this.$auth.user.course,
      // form.
      defaultTitle: [
        'Which of the following pictures describe(s) ... ?',
        'Which of the following terms best describe the picture?',
        'Prioritise the pictures in the order of ... by putting “1” for the first step, “2” for the second step, and so forth.'
      ],
      defaultQuestionTypes: [
        { text: 'Fill in the blanks', value: 0 },
        { text: 'Best describe of picture', value: 1 },
        { text: 'Prioritise the picture', value: 2 }
      ],
      question: null,
      payload: {
        type: 0,
        image: null,
        title: null,
        options: [],
        answer: []
      }
    }
  },
  methods: {
    async editQuestion() {
      if (!this.payload.title) {
        return alert('Missing question title')
      } else if (this.payload.options.findIndex((item) => !item) !== -1) {
        return alert('Missing answer')
      } else if (this.payload.answer.length === 0) {
        return alert('Missing correct answer')
      } else if (this.type === 1 && !this.payload.image) {
        return alert('Missing image')
      } else if (
        this.payload.type === 2 &&
        this.payload.answer.length !== this.payload.options.length
      ) {
        return alert('Missing correct answer')
      }

      const answer =
        this.payload.type !== 2
          ? this.payload.answer.sort()
          : this.payload.answer
      if (this.payload.type === 0 || this.payload.type === 2) {
        this.payload.options = await Promise.all(
          this.payload.options.map((file) => {
            if (file instanceof File) {
              return this.uploadFile(file)
            }
            return file
          })
        )
      } else if (
        this.payload.type === 1 &&
        this.payload.image instanceof File
      ) {
        this.payload.image = await this.uploadFile(this.payload.image)
      }
      const data = {
        ...this.payload,
        creatorId: this.$auth.user.id,
        answer: answer.join(',')
      }
      await this.$axios.$put(
        `/api/quizzes/${this.$route.params.qid}/questions/${this.$route.params.questionId}`,
        data
      )
      alert('Update question successfully')
      this.$router.push(`/quiz/${this.$route.params.qid}/questions`)
    },
    close() {
      this.$router.push(`/quiz/${this.$route.params.qid}/questions`)
    },
    updateCorrectAnswer() {
      this.payload.title = this.defaultTitle[this.payload.type]
      this.payload.options = new Array(this.question.body.options.length)
      this.payload.answer = new Array(this.question.body.options.length)
    },
    addOption() {
      this.payload.options.push(null)
    },
    remove(idx) {
      this.payload.options.splice(idx, 1)
    },
    uploadFile(file) {
      const payload = new FormData()
      payload.append('file', file)
      return this.$axios
        .$post('/api/files/uploadImage', payload)
        .then((data) => data.url)
    },
    error(message, path = '/') {
      alert(message)
      this.$router.push(path)
    }
  },
  async mounted() {
    this.title = this.defaultTitle[this.type]
    const [quiz, questions] = await Promise.all([
      this.$axios.$get(`/api/quizzes/${this.$route.params.qid}`),
      this.$axios.$get(`/api/quizzes/${this.$route.params.qid}/questions`)
    ])
    const question = questions.find(
      (question) => question.id == this.$route.params.questionId
    )
    if (!question) {
      this.error('Question not found!')
    }
    this.quiz = quiz
    this.question = question
    this.payload = {
      type: this.question.type,
      title: this.question.title,
      image: this.question.body.image,
      options: this.question.body.options,
      answer: this.question.body.answer.split(',').map(Number)
    }
  }
}
</script>
