<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">Create New Question</v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="12">
                  <p class="title">Quiz: {{ quiz.name || 'Loading...' }}</p>
                </v-col>

                <v-col cols="12" sm="3">
                  <v-select
                    @change="updateCorrectAnswer"
                    v-model="type"
                    :items="defaultQuestionTypes"
                    label="Type"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="9">
                  <v-text-field v-model="title" label="Title"></v-text-field>
                </v-col>
                <v-col cols="12">
                  <FillTheBlanks
                    v-if="type === 0"
                    v-model="question"
                  ></FillTheBlanks>
                  <BestDescribe
                    v-else-if="type === 1"
                    v-model="question"
                  ></BestDescribe>
                  <Prioritise
                    v-else-if="type === 2"
                    v-model="question"
                  ></Prioritise>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn text @click="addOption">Add more option</v-btn>

          <div class="flex-grow-1"></div>
          <v-btn color="error" text @click="close">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="createQuestion"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Prioritise from '@/components/questions/Prioritise'
import BestDescribe from '@/components/questions/BestDescribe'
import FillTheBlanks from '@/components/questions/FillTheBlanks'

export default {
  components: {
    Prioritise,
    BestDescribe,
    FillTheBlanks
  },
  props: {
    editItem: Object
  },
  data() {
    return {
      quiz: '',
      course: this.$auth.user.course,
      // form.
      defaultTitle: [
        'Which of the following pictures describe(s) ... ?',
        'Which of the following terms best describe the picture?',
        'Prioritise the pictures in the order of ... by putting “1” for the first step, “2” for the second step, and so forth.'
      ],
      defaultQuestionTypes: [
        { text: 'Fill in the blanks', value: 0 },
        { text: 'Best describe of picture', value: 1 },
        { text: 'Prioritise the picture', value: 2 }
      ],
      type: 0,
      title: '',
      question: {
        image: null,
        options: [null, null, null, null],
        answer: []
      },
      name: ''
    }
  },
  methods: {
    async createQuestion() {
      if (!this.title) {
        return alert('Missing question title')
      } else if (this.question.options.find((item) => !item)) {
        return alert('Missing answer')
      } else if (this.question.answer.length === 0) {
        return alert('Missing correct answer')
      } else if (this.type === 1 && !this.question.image) {
        return alert('Missing image')
      }

      const answer =
        this.type !== 2 ? this.question.answer.sort() : this.question.answer
      const payload = {
        ...this.question,
        title: this.title,
        answer: answer.join(',')
      }
      if (this.type === 0 || this.type === 2) {
        payload.options = await Promise.all(
          this.question.options.map((file) => this.uploadFile(file))
        )
      } else if (this.type === 1) {
        payload.image = await this.uploadFile(this.question.image)
      }
      const data = { type: this.type, title: this.title, ...payload }
      await this.$axios.$post(
        `/api/quizzes/${this.$route.params.qid}/questions`,
        data
      )
      alert('Created question successfully')
      this.$router.push(`/quiz/${this.$route.params.qid}/questions`)
    },
    close() {
      this.$router.push({ path: '/' })
    },
    updateCorrectAnswer() {
      this.title = this.defaultTitle[this.type]
      this.question.options = [null, null, null, null]
      this.question.answer = []
    },
    addOption() {
      this.question.options.push(null)
    },
    remove(idx) {
      this.question.options.splice(idx, 1)
    },
    uploadFile(file) {
      const payload = new FormData()
      payload.append('file', file)
      return this.$axios
        .$post('/api/files/uploadImage', payload)
        .then((data) => data.url)
    },
    error(message, path = '/') {
      alert(message)
      this.$router.push(path)
    }
  },
  async mounted() {
    this.title = this.defaultTitle[this.type]
    const data = await this.$axios.$get(
      `/api/quizzes/${this.$route.params.qid}`
    )
    if (data.startAnswerPhase) {
      this.error('Quiz is already started.', `/quiz/${this.$route.params.qid}`)
    }
    this.quiz = data
  }
}
</script>
