<template>
  <div>
    <v-row row wrap class="mx-0 py-4">
      <v-col cols="12" sm="12" v-if="quiz">
        <h1 class="headline">Quiz: {{ quiz.name }}</h1>
        <p>{{ formatDateTime(quiz.start_at) }} - {{ formatDateTime(quiz.end_at) }}</p>

        <template v-for="(question, idx) in questions">
          <v-divider :key="`question_divider_${idx}`" class="my-4"></v-divider>
          <v-card :key="`question_${idx}`">
            <v-card-title class="subtitle-1">{{ question.title }}</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <FillTheBlanks
                v-if="question.type === 0"
                :question="question"
                @answer="answer => setAnswers(idx, answer)"
              ></FillTheBlanks>
              <BestDescribe
                v-else-if="question.type === 1"
                :question="question"
                @answer="answer => setAnswers(idx, answer)"
              ></BestDescribe>
              <Prioritise
                v-else-if="question.type === 2"
                :question="question"
                @answer="answer => setAnswers(idx, answer)"
              ></Prioritise>
            </v-card-text>
          </v-card>
        </template>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" @click="submit">Submit</v-btn>
        </v-card-actions>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import Prioritise from '@/components/answers/Prioritise'
import BestDescribe from '@/components/answers/BestDescribe'
import FillTheBlanks from '@/components/answers/FillTheBlanks'

export default {
  components: {
    Prioritise,
    BestDescribe,
    FillTheBlanks
  },
  data() {
    return {
      course: this.$auth.user.course,
      quiz: undefined,
      questions: [],
      answers: []
    }
  },
  methods: {
    setAnswers(idx, answer) {
      this.answers[idx] = {
        questionId: this.questions[idx].id,
        answer
      }
    },
    async submit() {
      const filteredAnswer = this.answers.filter((item) => item)
      if (filteredAnswer.length < this.questions.length) {
        return alert('Please answer all the question before submit')
      }

      await this.$axios.$post(
        `/api/quizzes/${this.$route.params.qid}/answers`,
        {
          answers: this.answers
        }
      )
      this.$router.push(`/quiz/${this.$route.params.qid}/answers`)
    },
    formatDateTime(dateTime) {
      return dayjs(dateTime).format('YYYY-MM-DD HH:mm:ss')
    }
  },
  async mounted() {
    this.quiz = await this.$axios.$get(`/api/quizzes/${this.$route.params.qid}`)
    this.questions = await this.$axios.$get(
      `/api/quizzes/${this.$route.params.qid}/questions`
    )
    this.answers = new Array(this.questions.length)
  }
}
</script>
