<template>
  <div>
    <v-row>
      <template v-for="(option, idx) in report.body.options">
        <v-col :key="`answer_${idx}`" cols="12" sm="4">
          <p>Option {{idx + 1}}</p>
          <v-img :src="option" contain max-height="250" max-width="250" :eager="true" />
        </v-col>
      </template>
    </v-row>
    <v-row class="">
      <template v-for="(option, idx) in report.body.options">
        <v-col :key="`answer_order_${idx}`" cols="12" sm="2" class="answers">
          <v-text-field
            readonly
            v-model="selectedAnswer[idx]"
            label="Order"
            type="number"
            min="1"
            :max="selectedAnswer.length"
            :error="!report.isCorrect"
            :success="report.isCorrect"
            :append-outer-icon="idx === selectedAnswer.length - 1 ? '' : 'mdi-chevron-right'"
          ></v-text-field>
        </v-col>
      </template>
    </v-row>
    <v-alert
      :color="report.isCorrect ? 'green' : 'orange'"
      type="info"
      dense
    >{{ message }}</v-alert>
  </div>
</template>

<script>
export default {
  computed: {
    selectedAnswer() {
      return this.report.answer.split(',')
    },
    message() {
      return this.report.isCorrect ? 'You are correct!' : `The correct answer is: ${this.report.body.answer}`
    }
  },
  props: {
    report: Object,
  },
}
</script>
