<template>
  <v-row>
    <v-col cols="12" sm="12">
      <v-file-input
        v-model="question.image"
        small-chips
        show-size
        accept="image/png, image/jpeg"
        label="Image"
        @change="showPreview"
      ></v-file-input>
      <v-row v-if="preview">
        <v-col cols="12" sm="4">
          <v-img :aspect-ratio="16 / 9" :src="preview" contain></v-img>
        </v-col>
      </v-row>
    </v-col>
    <template v-for="(_, idx) in question.options">
      <v-col :key="`answer_${idx}`" cols="12" xs="12" sm="10">
        <v-text-field
          v-model="question.options[idx]"
          :label="`Option ${idx + 1}`"
          append-icon="mdi-delete"
          @click:append="remove(idx)"
        ></v-text-field>
      </v-col>
      <v-col :key="`answer_correct_${idx}`" cols="12" xs="12" sm="2">
        <v-checkbox v-model="question.answer" label="Correct" :value="idx + 1"></v-checkbox>
      </v-col>
    </template>
  </v-row>
</template>

<script>
export default {
  model: {
    prop: 'question',
    event: 'change'
  },
  data() {
    return {
      preview: null
    }
  },
  props: {
    question: Object
  },
  methods: {
    remove(idx) {
      this.question.options.splice(idx, 1)
      this.$emit('change', this.question)
    },
    showPreview(file) {
      if (file) {
        this.preview = file.name ? URL.createObjectURL(file) : null
      } else {
        this.preview = null
      }
    }
  }
}
</script>
