<template>
  <v-radio-group column class="radio-group-full-width">
    <v-row>
      <template v-for="(option, idx) in question.body.options">
        <v-col :key="`answer_${idx}`" cols="12" sm="6">
          <v-checkbox
            v-model="choosenAnswer"
            @change="updateAnswer"
            :label="`${idx + 1}. ${idx + 1}`"
            :value="idx + 1"
          ></v-checkbox>
          <v-img :src="option" aspect-ratio="1" :eager="true" :contain="true" />
        </v-col>
      </template>
    </v-row>
  </v-radio-group>
</template>

<script>
export default {
  model: {
    prop: 'question'
  },
  data() {
    return {
      choosenAnswer: []
    }
  },
  props: {
    question: Object
  },
  methods: {
    updateAnswer(val) {
      this.$emit('answer', this.choosenAnswer.sort().join(','))
    }
  }
}
</script>

<style scoped>
.radio-group-full-width >>> .v-input__control {
  width: 100%;
}
</style>
