<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" fixed app class="d-print-none">
      <NuxtLink to="/">
        <v-toolbar-title>{{ title }}</v-toolbar-title>
      </NuxtLink>
      <v-spacer></v-spacer>

      <span class="subtitle-1 hidden-sm-and-down">{{ user.username }}</span>
      <v-menu left bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-subheader class="hidden-md-and-up">{{
            user.username
          }}</v-subheader>
          <v-list-item @click="showUserPassword">
            <v-list-item-action>
              <v-icon>mdi-lock-reset</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Update Password</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-action>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-dialog v-model="dialog" width="600px" @click:outside="close">
      <v-card>
        <v-card-title>
          <span class="headline">Change Password</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container fluid>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="originalPW"
                    type="password"
                    :rules="[rules.required]"
                    label="Original Password"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="newPW"
                    :rules="[rules.required, rules.min]"
                    type="password"
                    label="New Password"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="confirmPW"
                    type="password"
                    :rules="[rules.required, rules.min, rules.confirmPW]"
                    label="Confirm New Password"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="updatePW">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}
      <v-btn text @click="snack = false">Close</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  created() {
    this.$store.watch(state => state.errorMessage, () => {
      const msg = this.$store.state.errorMessage
      if (msg !== '') {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = msg
        this.$store.commit('errorMessage', '')
      }
    })
  },
  data() {
    return {
      user: this.$auth.user,
      clipped: false,
      drawer: false,
      fixed: false,
      items: [],
      right: true,
      title: 'iVL',
      //dialog
      dialog: false,
      newPW: '',
      confirmPW: '',
      originalPW: '',
      rules: {
        required: (value) => !!value || 'Required.',
        min: (v) => v.length >= 8 || 'Min 8 characters',
        confirmPW: (v) => {
          if (this.newPW !== this.confirmPW) {
            return "The new passwords don't match"
          }
          return true
        }
      },
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  methods: {
    showUserPassword() {
      this.dialog = true
    },
    async logout() {
      await this.$auth.logout()
      this.$router.replace({ path: '/login' })
    },
    async updatePW() {
      if (!this.$refs.form.validate()) {
        return
      }
      // send request to update password
      const userId = this.$auth.user.id
      try {
        await this.$axios.$patch(`/api/me/password`, {
          originalPW: this.originalPW,
          newPW: this.newPW
        })
        this.dialog = false
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Password updated.'
      } catch (err) {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'Wrong original password.'
      }
    },
    close() {
      this.dialog = false
    }
  },
  mounted() {
    console.log(this.$auth)
  }
}
</script>
