<template>
  <v-layout column justify-center align-center>
    <v-col cols="12" xs="12" sm="8">
      <v-card>
        <v-card-title class="headline">{{ `${course.code} - ${course.name}` }}</v-card-title>
        <v-card-text>
          <v-list subheader v-if="quizzes.length > 0">
            <v-subheader>Quizzes</v-subheader>
            <v-list-item
              :key="'quiz_list_' + i"
              v-for="(quiz, i) in quizzes"
              :to="`/quiz/${quiz.id}`"
              nuxt
            >
              <v-list-item-content>
                <v-list-item-title>{{ quiz.name }}</v-list-item-title>
                <v-list-item-subtitle>{{ quiz.start_at }} - {{ quiz.end_at }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <template v-else>
            <span class="text-center">{{ message }}</span>
          </template>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="blue darken-1"
            :to="`/course/${course.courseId}/report`"
            text
            nuxt
          >Overall Result</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      course: this.$auth.user.course,
      quizzes: [],
      message: 'Loading...'
    }
  },
  async mounted() {
    const quizzes = await this.$axios.$get(
      `/api/${this.course.courseId}/quizzes`
    )
    this.quizzes = quizzes
    this.message = quizzes.length > 0 ? 'There is no quiz in this course' : ''
  }
}
</script>
