<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="elevation-12">
          <v-toolbar color="primary" flat dark>
            <v-toolbar-title>Login</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form @submit="login">
              <v-select v-model="courseId" :items="courses" label="Course" required></v-select>
              <v-text-field v-model="username" label="Username" type="text" required></v-text-field>
              <v-text-field v-model="password" label="Password" type="password" required></v-text-field>
              <section class="caption error--text" :v-if="error">{{ errorMsg }}</section>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="primary" type="submit">Login</v-btn>
              </v-card-actions>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  layout: 'guest',
  data() {
    return {
      courses: [],
      errorMsg: '',
      error: false,

      // formData
      courseId: null,
      username: '',
      password: ''
    }
  },
  methods: {
    async login(event) {
      event.preventDefault()
      try {
        await this.$auth.loginWith('local', {
          data: {
            courseId: this.courseId,
            username: this.username,
            password: this.password
          }
        })
        this.$router.replace({ path: '/' })
      } catch (error) {
        this.errorMsg = 'Access denied'
        this.error = true
      }
    }
  },
  async mounted() {
    const data = await this.$axios.$get('/api/courses')
    this.courses = data.map((item) => {
      return { text: `${item.code} - ${item.name}`, value: item.id }
    })
  }
}
</script>
